/*  common.css - MoinMoin Default Styles

Copyright (c) 2001, 2002, 2003 by Juergen Hermann
*/

/* Links */
a                             { color: maroon; }
a:hover                       { color: red; }
a.nonexistent, a.badinterwiki { color: #404040; }

/* Headings */
h1 {
    font-size: 20pt;
    font-weight: bold;
}

h1 a, h1 a:visited  { display: none; }
h2                  { font-size: 18pt; }
h3                  { font-size: 14pt; }
h4                  { font-size: 12pt; }
h5                  { font-size: 10pt; }

ul {
    padding: 0px;
    margin: 10px 0px 10px 30px;
}

li p   { margin: 0.25em 0; }
li.gap { margin-top: 0.5em; }
dt     { font-weight: bold; }

pre {
    padding: 0.5em;
    font-family: "courier", monospace;
    border: 1pt solid #ccbdae;
    background: #f7f5f3;
    font-size: 10pt;
    white-space: pre-wrap;
}

textarea {
    font-size: 10pt;
    font-family: "courier", monospace;
    white-space: pre-wrap;
}

/* Tables */
table { border-collapse: collapse; }

/* Moinmoin doesn't currently do th tags, use CSS class for now */
/* Make plain black-white by default, overload in screen stylesheet */
tr.heading {
     font-weight: bold;
     text-align: center;
}
td {
    padding: 0.5em;
    border: 1px solid black;
}
td p { margin: 0; }

/* Standard rule ---- */
hr {
    width: 100%;
    height: 1px;
    color: #a50d0d;
    background-color: #a50d0d;
    border: 0;
}

/* Custom rules ----- to ---------- */
.hr1 { height: 2px; }
.hr2 { height: 3px; }
.hr3 { height: 4px; }
.hr4 { height: 5px; }
.hr5 { height: 6px; }
.hr6 { height: 7px; }

img, img.drawing { border: 0; }

/* Replacement for html 3 u tag */
.u { text-decoration: underline; }

.footnotes ul {
    padding: 0 2em;
    margin: 0 0 1em;
}
.footnotes li { list-style: none; }

.info {
    font-size: 0.85em;
    color: gray;
}
#pageinfo { margin-top: 2em; }

/* Eye catchers */
.warning, .error { color: red; }
.strike          { text-decoration: line-through; }
strong.highlight {
    background-color: #ffcc99;
    padding: 1pt;
}

/* Recent changes */
.recentchanges p  { margin: 0.25em; }
.recentchanges td {
    vertical-align: top;
    border: none;
    border-bottom: 1pt solid #F0ECE6;
    background: #F7F6F2;
}

.rcdaybreak td {
    background: tan;
    border: none;
}

.rcdaybreak td a   { font-size: 0.88em; }
.rcicon1, .rcicon2 { text-align: center; }
.rcpagelink        { width: 33%; }

.rctime {
    font-size: 0.88em;
    white-space: nowrap;
}

.rceditor {
    white-space: nowrap;
    font-size: 0.88em;
}

.rccomment {
    width: 66%;
    color: gray;
    font-size: 0.88em;
}

.rcrss                           { float: right; }
.recentchanges[dir="rtl"] .rcrss { float: left; }

/* User Preferences */
.userpref table, .userpref td { border: none; }

/* CSS for new code_area markup used by Colorizer and ParserBase */
/* This div makes the border */
div.codearea {
    margin: 0.5em 0;
    padding: 0;
    border: 1pt solid #AEBDCC;
    background-color: #F3F5F7;
    color: black;
}

/* The pre has no border and is inside the div */
div.codearea pre {
    margin: 0;
    padding: 10pt;
    border: none;
    background: none;
    white-space: pre;
}

/* Format of the line numbering link */
a.codenumbers {
    margin: 0 10pt;
    font-size: 0.85em;
    color: gray;
}

/* Format of certain syntax spans */
div.codearea pre span.LineNumber { color: gray;}
div.codearea pre span.ID         { color: #000000;}
div.codearea pre span.Operator   { color: #0000C0;}
div.codearea pre span.Char       { color: #004080;}
div.codearea pre span.Comment    { color: #008000;}
div.codearea pre span.Number     { color: #0080C0;}
div.codearea pre span.String     { color: #004080;}
div.codearea pre span.SPChar     { color: #0000C0;}
div.codearea pre span.ResWord    { color: #A00000;}
div.codearea pre span.Special    { color: #0000ff;}
div.codearea pre span.Preprc     { color: #803999;}

div.codearea pre span.ConsWord {
    color: #008080;
    font-weight: bold;
}

div.codearea pre span.Error {
    color: #FF8080;
    border: solid 1.5pt #FF0000;
}

div.codearea pre span.ResWord2 {
    color: #0080ff;
    font-weight: bold;
}
