/*  print.css - MoinMoin Default Styles

Copyright (c) 2001, 2002, 2003 by Juergen Hermann
*/

/* Content styles */
html {
    background-color: white;
    color: black;
    font-family: Times, serif;
    font-size: 12pt;
}

/* Give about 3.4cm in Mozilla/Firefox and about 2.2cm in Safari */
body { margin: 1.5cm; }

/* Equivalent to the page title */
#logo_blurb {
    font-size: 30px;
    font-weight: bold;
}

a, a:visited, a.nonexistent, a.badinterwiki {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
a.interwiki:before, a.badinterwiki:before { content: attr(title) ":"; }
a.interwiki img, a.badinterwiki img       { display: none; }

.footnotes div {
    width: 5em;
    border-top: 1pt solid gray;
}

/* User interface styles */
#header, #sidebar, #footer, #timings, #credits { display: none; }
