/*  screen.css - MoinMoin Default Styles

Copyright (c) 2001, 2002, 2003 by Juergen Hermann
*/

/* Content styles */
html                {
                     background-image: url('../img/bg.jpg');
                     background-repeat: no-repeat;
                     background-color: black;
                     color: black;
                     font-family: "bitstream vera sans", "verdana",
                        "arial", "helvetica", sans-serif;
                     font-size: 12px;
                    }
body                {
    /* Relative here pins child elements to page, not window */
                     position: relative;
                     margin: 0;
                     width: 100%;
                     min-width: 700px;  /* Mostly arbitrary value */
                     overflow-x: auto;
                    }

/* Link Colors */
a                   { color: #A50D0D; }
a:visited, a:active { color: #FF0000; }
a:hover             { color: #FF6666; text-decoration: underline; }

/* Table headings */
tr.heading {
     background: #a50d0d;
     color: white;
}

/* WineHQ logo */
#logo_glass         {
                     position: absolute;
                     z-index: 2;
                     top: 20px;
                     left: 50px;
                     width: 100px;
                     height: 157px;
                    }
#logo_text          {
                     position: absolute;
                     z-index: 3;
                     top: 40px;
                     left: 110px;
                     width: 186px;
                     height: 58px;
                    }
#logo_blurb         {
                     position: absolute;
                     z-index: 4;
                     top: 92px;
                     left: 130px;
                     font-size: 12px;
                     color: #999999;
                    }

/* Navigation tabs for primary WineHQ links */
#tabs               {
                     position: absolute;
                     z-index: 6;
                     top: 0px;
                     right: 10px;
                     margin: 0px;
                     padding: 0px;
                    }
#tabs ul            {
                     list-style: none;
                     padding: 0;
                     margin: 0;
                    }
#tabs li            {
                     float: left;
                     width: 112px;
                     height: 28px;
                     margin: 0px 2px 0px 2px;
                     padding: 0px;
                     text-align: center;
                     background-image: url('../img/tab_u.png');
                     background-repeat: no-repeat;
                    }
#tabs li.current    { background-image: url('../img/tab_s.png'); }
#tabs li.current a  { font-weight: bold; }
#tabs li:hover      { background-image: url('../img/tab_h.png'); }
#tabs a             {
                     display: block;
                     width: 108px;
                     height: 23px;
                     padding-top: 3px;
                     font-size: 16px;
                     color: white;
                     text-decoration: none;
                    }

/* WineHQ tool sidebar */
#sidewell           {
                     position: absolute;
                     z-index: 6;
                     top: 200px;
                     left: 0px;
                     margin: 0px;
                     padding: 0px;
                     width: 156px;
                     color: white;
                     direction: ltr;    /* Lock for now */
                    }
.sidepanel          {
                     margin: 0 0 10px 0;
                     padding: 0;
                     font-size: 10px;
                    }
.sidepanel a        {
                     color: white;
                     text-decoration: none;
                    }
.sidepanel a:hover  { text-decoration: underline; }

.sidetitle          {
                     height: 33px;
                     background-image: url('../img/side_menu_top.png');
                     background-repeat: no-repeat;
                     font-weight: bold;
                     font-size: 12px;
                    }
.sidetitle p        { margin: 0; padding: 10px 0 0 5px; }

.sidecontent ul     { list-style: none; margin: 0; }
.sidecontent li     {
                     margin: 0;
                     padding: 5px 15px 5px 15px;
                     background-image: url('../img/side_menu_bg.png');
                     background-repeat: repeat-y;
                    }
.sidebottom         {
                     height: 16px;
                     background-image: url('../img/side_menu_bot.png');
                     background-repeat: no-repeat;
                    }

#navibar li.current {
                     font-weight: bold;
                     overflow: hidden;
                     text-overflow: ellipsis;
                    }

/* Search box positioned to match standard WineHQ theme */
#search_box         {
                     text-align: right;
                     position: absolute;
                     z-index: 5;
                     top: 50px;
                     right: 20px;
                     margin: 0;
                     padding: 0;
                     font-size: 10px;
                     direction: ltr;    /* Set manually for now */
                    }
#search_box span    { color: #ffffff; }
#search_box input   {
                     font-size: 12px;
                     width: 175px;
                     margin: 0;
                     padding: 2px;
                     border: 1px inset red;
                    }

/* CSS rules related to the main content well */
#pagewell           {
                     margin: 0px;
                     padding: 85px 10px 10px 100px;
                    }
/* 2nd ID is a hack for the editor (layout largely hardcoded) */
#page               {
                     margin: 0px;
                     padding: 20px 20px 0px 20px;
                    }
#pagecontent        {
                     padding: 20px 20px 10px 80px;
                     background: white;
                     border-radius: 5px;
                    }
/* Redundant settings are a workaround for the edit page */
#content            {
                     background: white;
                     border-radius: 5px;
    /* Clip wide tables, images, etc. for now
     * Ideally, Moinmoin could give surrounding divs unique classes */
                     overflow-x: hidden;
                    }
#pagebottom         { clear: both; }

/* Credits at bottom of page (set in wikiconfig.py) */
#credits            {
                     list-style: none;
                     color: white;
                     text-align: right;
                    }
#credits li         { padding: 0 20px 10px 0; }
#credits img        { vertical-align: middle; }
#credits a          {
                     color: white;
                     font-weight: bold;
                     text-decoration: none;
                    }
#credits a:hover    { text-decoration: underline; }

/* For temporarily adjusting the Moinmoin credits logo via CSS */
#moinlogo           {
                     width: 32px;
                     height: 32px;
                     padding-right: 3px;
                    }

/* Message style analogous to codearea boxes with purple tint */
#message            {
                     margin: 10px;
                     background-color: #f7f2f7;
                     border: 1pt solid #ccaecc;
                    }
.clearmsg a         {
                     margin: 0 10pt;
                     font-size: 0.85em;
                     color: gray;
                    }
.clearmsg a:hover   { color: #ff6666; }
#message p          {
                     margin: 0px;
                     padding: 0.5em;
                     font-weight: bold;
                    }

/* Diff display formatting */
.diff-title        { background: #f7f5f3; }
.diff-added        { background: #f2f7f2; }
.diff-removed      { background: #ffffda; }
.diff-added span   { background: #80FF80; }
.diff-removed span { background: #FFFF80; }

#editor                           { padding: 20px 20px 0 20px; }
#editor-help                      { padding: 0 20px 20px 20px; }
#editor-textarea, #editor-comment {
                                   float: center;
                                   width: 100%;
                                  }
#preview                          {
                                   margin: 0px 10px 10px 10px;
                                   padding: 0.5em;
                                   border: 1px solid #f7f7b5;
                                   background: #ffffda;
                                  }



.footnotes div      { width: 5em; border-top: 1px solid #e5e5e5; }
span.sep            { display: none; }

form.dialog { margin: 0 15px; }

.dialog td {
    border: none;
    padding: 5px;
}

.dialog td.label {
    text-align: right;
    font-weight: bold;
    width: 25%;
}

*[dir="rtl"] .dialog td.label { text-align: left; }

.dialog td.content input { width: 100%; }
.table-of-contents li    { line-height: 20px; }

.searchresult dd span { font-weight: bold; }

/* A scroll bar preserves exact formatting for code... just in case */
div.codearea { overflow-x: auto; }
